<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header>
      <nav id="navbar" style="display:flex;justify-content:flex-end; background-color:rgb(235, 187, 29); padding:20px">
        <a href="/">HOME</a> 
        <a href="/dashboard">DASHBOARD</a> 
        {{#if loggedIn}}
        <button class="no-button" id="logout" >LOGOUT</button>
        {{else}}
        <a href="/login">LOGIN</a>
        {{/if}}
      </nav>
    </header>
    <h1 style="font-weight:200; letter-spacing:2px; padding: 45px 45px 10px 45px">TECH BLOG</h1>
    <main class="container container-fluid mt-5">
    {{{ body }}} 
    </main>
    <footer>
      
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="js/logout.js"></script>
  {{/if}} 
</body>

</html>
