<div>
    <h1>Edit Your Post:</h1>
<form class="edit-post-but" id="{{post.id}}">
  <div class="form-group">
    <label for="posttitle">Post Title:</label>
    <textarea name="" id="post-title-edit" cols="30" rows="3">{{post.post_title}}</textarea>
  </div>
  <div class="form-group">
    <label for="postcontent">Post Content:</label>
    <textarea name="" id="post-content-edit" cols="30" rows="5">{{post.post_content}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Save Post</button>
  <button type="submit" class="btn btn-primary delete-but">Delete Post</button>
</form>
<script src="/js/edit-post.js"></script>
</div>