<div>
    <h1 style="padding-bottom:20px">Edit Your Post:</h1>
<form class="edit-post-but" id="{{post.id}}">
  <div>
    <p class="edit-post-title">Post Title:</p>
    <textarea name="" id="post-title-edit" cols="50" rows="3" style="border:thin solid rgb(204, 208, 211)">{{post.post_title}}</textarea>
  </div>
  <div>
    <p class="edit-post-title">Post Content:</p>
    <textarea name="" id="post-content-edit" cols="50" rows="5" style="border:thin solid rgb(204, 208, 211)">{{post.post_content}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary edit-but">Save Post</button>
  <button type="submit" class="btn btn-primary delete-but edit-but">Delete Post</button>
</form>
<script src="/js/edit-post.js"></script>
</div>