 <div class="text-center">
  <h2>{{post.post_title}}</h2>
  <p>{{post.post_content}}</p>
  <p>Created by {{user.username}} </p>
  <p>
    <button class="btn btn-primary">Edit this post</button>
    <button class="btn btn-primary">Delete this post</button>
  </p>
</div>
